@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container{
  max-width: 800px;
  margin: 10px auto;

}
.heading{
  text-align: center;
  font-family: 'Poppins',sans-serif;
  font-size: 40px;
  margin-bottom: 1rem;
}
.hotelCards{
  width: 80%;
  margin: 0 auto 20px;
  box-shadow: 20px 10px 20px lightgrey;

}
.hotelCards img{
  width: 100%;
  object-fit: contain;
}
.tittle{
  margin: 1rem;
  font-size: 28px;
  text-align: center;
  font-family:  'Poppins',sans-serif;
  color: rgb(134,6,49);
  text-decoration: underline;


}
.hotelCards p{
  font-size: 15px;
  font-family:  'Poppins',sans-serif;
  font-weight: 300;
  padding: 10px;

}
button{
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 5px 20px;
  border: 1px solid palevioletred;
  font-size: 14px;
  border: none;
  background-color: #000;
  color: #fff;
  transition: 0.4 all ease;

}
button:hover{
  background-color:rgb(134,6,49) ;

}

